
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #000;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #030033;
}

.navbar-default {
  background-color: #0f006f;
  border-color: #030033;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #66CCFF;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: silver;
}


.navbar-default .navbar-nav > li > a {
  color: white;
}
a{
  text-decoration: none;
  font-weight: bold;
  color:white;
}
.navbar-header > a:hover {
  color: white;
}

